/* general styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: akbar;
  src: url(../fonts/akbar.ttf);
}

#video{
  position: fixed;
  top: 0%;
  left: 0%;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}

#logo-container img{
  width: 300px;
  height: auto;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background-color: transparent;
  color: #fff;
  display: flex;
  font-family: akbar;
}

.container {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  position: relative;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.message {
  font-size: 4rem;
}

#content {
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  
  li {
    font-size: 1.125rem;
    padding: .75rem;
  }
  
  li span {
    font-size: 3.375rem;
  }
}